name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  static-analysis:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: "rustfmt, clippy"
    - uses: Swatinem/rust-cache@v2

    - name: Rust Format + Check + Lint
      run: |
        cargo fmt --all --check
        cargo clippy --workspace --benches --tests --examples --quiet

  test:
    runs-on: ubuntu-latest
    needs: static-analysis

    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2

    - name: Run tests
      run: cargo test --workspace

  test-cfg-features:
    runs-on: ubuntu-latest
    needs: static-analysis

    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2

    - name: Run cfg_test_crate with feat_a
      run: cargo test -p cfg_test_crate --features feat_a
